.video-title{
    font-family: Arial;
    font-weight: bold;
    font-size: 18px;
    width: 300px;
    color:rgb(33, 37, 41);
    margin-bottom: 10px;
    line-height: 24px;
}
.video-stats{
    font-family: Arial;
    color: rgb(96, 96, 96);
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 15px;

}
.text{
    font-family: Arial;
    color: rgb(96, 96, 96);
    font-size: 14px; 
    margin-top: 0;
    margin-bottom: 20px;
}
.text-talk{
    font-family: Arial;
    color: rgb(96, 96, 96);
    font-size: 15px;
    width:300px;
    margin-top: 0;
    margin-bottom: 50px;
}
.last-text{
margin-bottom: 35px;
background-color:rgb(227, 65, 64);
color: white;
padding: 15px 5px;
text-align: center;
}
.shop-now{
    text-decoration: underline;
    cursor: pointer;
}